<!DOCTYPE html>
<html>
<head>
	<title>The Code Center |></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
</head>
<body>

		<div class="container">
				
				<div class="header">
					<h1>The Code Center</h1>
					<h3>#LearnToCode</h3>
					<marquee><h5>Welcome to Our Site</h5></marquee>
				</div>

				<div class="nav">
					 <div class="nav1">
						<a href="/">Home</a>
						<a href="/about">About Us</a>
						<a href="/course">Courses</a>
						<a href="/register">Registration</a>
						<a href="/members">Registered Members</a>
					</div>
				</div>

				<div class="content">


				