	


	<%- include("partials/header"); %>

	<h1>About Us</h1>

	<h3>Vision Statement</h3>
	<p>To be the <span>"Go-to"</span> Coding School for all things technology education</p>

	<h3>Mission Statement</h3>
	<p>To transform people's lives by teaching them how to code, helping
	 them develop a successful career in it</p>

	 <h3>Core Values</h3>
	 <ul>
	 	<li>Integrity</li>
	 	<li>Transparency</li>
	 	<li>Punctuality</li>
	 	<li>Quality Education</li>
	 	<li>Equality</li>
	 </ul>



	<%- include("partials/footer"); %>