
	

	<%- include("partials/header"); %>

		<h2>The Code Center Courses</h2>
		
		<p>Web Development <br/> <img src="images/WebDev.jpg"/></p>
		<p>Data Science <br/> <img src="images/DataScience.jpg"/></p>
		<p>Frontend Development <br/> <img src="images/FrontendDevelopment.jpg"/></p>
		<p>Java Programming <br/> <img src="images/JavaProgramming.jpg"/></p>
		<p>UI/UX Design <br/> <img src="images/UX.jpg"/></p>
		<p>Mobile Development <br/> <img src="images/Mobile.jpg"/></p>


	<%- include("partials/footer") %>