

   <%-	include("partials/header") %>

		<h1>Welcome</h1>
		<p>We teach people how to code, helping them develop a successful career in it.</p>
		<p>We have a number of courses that could be of benefit to you such as:</p>
		<ul>
			<li>Web Development</li>
			<li>Software Development</li>
			<li>Data Science</li>
			<li>UI/UX Design</li>
			<li>Frontend Development</li>
			<li>Oracle Database</li>
			<li>IT Support Services</li>
		</ul>

		<p><a href="/course">Click here</a>to read more about our Courses</p>


     <%-	include("partials/footer") %>