

	*{
		margin:0;
		padding: 0;
	}
	
	body{
		font-family: Helvetica
	}

	.container{
		border:1px solid #09F;
		width: 95%;
		margin: 10px auto;
	}

	.header, .footer{
		border:1px solid #09F;
		width: 95%;
		height: 200px;
		margin-top: 5px;
		margin-left: 5px;
		background-color: #4D6DA1
	}

	.header h1{
		color: #fff;
		font-size: 60px;
		margin-left: 40px;
		margin-top: 20px;
		/*border: 1px solid #fff;*/
		padding: 10px;
	}

	.header h3, .footer h3{
		color: #f3f3f3;
		font-size: 30px;
		margin-left: 60px;
		margin-top: 10px;
		/*border: 1px solid #fff;*/
	}

	.header h5{
		color: #fff;
		font-size: 20px;
		margin-top: 10px;
	}

	.nav{
		border:1px solid #6699ED;
		background-color: #6699ED;
		width: 95%;
		height: 50px;
		margin-left:5px;
	}
	.nav1{
		border:1px solid #fff;
		width: 72%;
		position: relative;
		left:10%;
	}

	.nav a{
		color: #fff;
		letter-spacing: 2px;
		display: inline-block;
		padding: 13px 35px;
		text-decoration:none;
		font-family: Arial;
		text-align: center;
	}


	ul{
		list-style-type: none;
	}